<div id="page-content">
    <h1 class="text-center"><%= @user.name %>'s profile</h1>
    <%= gravetar_for @user, size=200 %>
    <h3 class="text-center">Articles</h3>
    <%= render 'articles/articles'%>
</div>