
<% if @article.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show  opacity" role="alert">
        <h4 class="alert-heading">Follwing errors prevented the article from being saved</h4>
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <%end%>
    </div>
<% end %>
