<div class="navigation">
  <div class="nav-home">
    <%= link_to "Navbar", root_path,  class: "link" %>
  </div>
  <div class="nav-article">
    <%= link_to "Articles", articles_path, class: "link" %>
  </div>
  <div class="nav-article">
    <%= link_to "Create new article", new_article_path, class: "link" %>
  </div>
</div>